@font-face {
  font-family: 'proximanova-regular';
  src: url('https://cecile-dzy-ncl.github.io/MCC/fonts/proximanova-regular-webfont.woff2') format('woff2'),
       url('https://cecile-dzy-ncl.github.io/MCC/fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  /*background: blue !important;*/
  background: url(images/image_fond_mcc_enfants-iraiser@2x.png) no-repeat top/100% !important;
  color: #000;
  background-color: #fff!important;
  font-family: 'proximanova-regular' !important;
  text-shadow: none;
  font-size: 16px !important;
}

#container {
  width: 100% !important;
}


/*#container, #main {
   overflow: visible !important;
}*/

#logo img {
  /*height: 10%;*/
  width: 40%;
  margin-left: 250px;
}

#step-1 {
  width: 100%;
}

#step-1 .step-container {
  width: 33%;
  margin-left: 250px;
}

.step-content {
  background: none !important;
}

#step-1 .step-content {
  height: 550px !important;
}

.step-info {
  background: blue !important;
  display: none;
}

.step-title {
  display: none;
}

#step-2, #step-3 {
  width: 50%;
}

#once, #regular {
  border-radius: 5px;
  background: none !important;
}

#once h3, #regular h3 {
  background-color: #E40520 !important;
  color: #fff !important;
  font-size: 95% !important;
  width: 50%;
  text-align: center;
}

#regular h3 {
  margin-left: 50%;
}

#or {
  display: none;
}

#bloc-amount-once {
  background-color: #fff !important;
}

#bloc-amount-regular {
  background-color: #fff !important;
}

.thumbs {
  display: none;
}

.amount ul li label span {
  height: 50px;
  width: 75px;
  border: 1px solid #9297A3 !important;
  border-radius: 5px !important;
  background-color: #fff !important;
  box-shadow: none !important;
  background-image: none !important;
}

.amount ul.radio-inline {
  padding-left: 8px !important;
}

#wrapper-mcc-reassurance {
  background-color: #F0F0F0 !important;
  width: 100vw !important;
  position: relative !important;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mcc-reassurance {
  display: flex;
  height: auto !important;
  width: 940px;
}

#mcc-reassurance-1, #mcc-reassurance-2, #mcc-reassurance-3  {
  width: 33.33%;
}

a.boutonValidationStep1{
  margin: 21%;
  padding: 10px 45px;
  border-radius: 5px;
  background-color: #E40520;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.07px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
}

a.boutonValidationStep1:hover{
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
